footer {
    background: #3B3A3A;
}

footer img {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}


.footer-block,
.footer-block a {
    color: #FFFFFF !important;
    font-size: 15px;
    font-weight: 600;
}

.cleaning {
    font-weight: 500;
    margin: 20px 0;
}

.cleaning a {
    font-weight: 500;
}

.cleaning span {
    font-weight: 600;
}